appnope==0.1.0
astroid==2.4.2
backcall==0.2.0
beautifulsoup4==4.9.3
bitstring==3.1.7
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==6.7
cryptography==3.3.1
decorator==4.4.2
dj-database-url==0.5.0
Django==2.1.1
ecdsa==0.16.1
esptool==3.0
Flask==1.0.2
gunicorn==20.0.4
idna==2.10
ipython==7.16.1
ipython-genutils==0.2.0
isort==5.6.4
itsdangerous==0.24
jedi==0.17.2
Jinja2==2.10
lazy-object-proxy==1.4.3
MarkupSafe==1.0
mccabe==0.6.1
parso==0.7.1
passlib==1.7.4
peewee==3.3.4
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.8
psycopg2-binary==2.8.6
ptyprocess==0.6.0
pycodestyle==2.6.0
pycparser==2.20
Pygments==2.7.1
pylint==2.6.0
pyserial==3.5
pytz==2020.4
reedsolo==1.5.4
requests==2.25.1
six==1.15.0
soupsieve==2.1
toml==0.10.1
traitlets==5.0.4
urllib3==1.26.2
wcwidth==0.2.5
Werkzeug==0.14.1
wrapt==1.12.1
